<!DOCTYPE html>
<html>

<!- some color styling -!>
<style>
table {
    border-collapse: collapse;
    width: 40%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>



<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
var app = angular.module('myApp', []);
app.controller('membersCtrl', function($scope, $http) {
  $http.get("http://localhost:5000/members").then(function (response) { 
      $scope.myData = response.data;
  });
});
</script>
<body>

<div ng-app="myApp" ng-controller="membersCtrl"> 

<table>
  <tr>
    <th>Name</th>
    <th>Phone Number</th>
  </tr>
  <tr ng-repeat="x in myData" >
    <td align="center">{{x.name|angular}}</td>
    <td align="center">{{x.phone|angular}}</td>
  </tr>
</table>


</div>



</body>
</html>
